* {
  font-family: 'EB Garamond', serif;
}
body {
  margin: 0;
}
.roll {
  background-color: #eeeeee;
  margin: 0 auto;
  width: 1080px;
}
header {
  background: #2b333d;
  box-sizing: border-box;
  color: #c5d0de;
  height: 180px;
  padding: 30px;
}
header form {
  float: right;
  margin-right: 40px;
  margin-top: -25px;
  width: 200px;
}
header form input {
  font-size: 20px;
  width: 80%;
}
header form input[type="submit"] {
  margin-top: 10px;
  width: 40%;
}
header form label {
  font-size: 20px;
}
header .links {
  float: right;
}
header .links a {
  color: #c5d0de;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin-right: 70px;
  margin-bottom: 10px;
  text-decoration: none;
}
header p {
  float: left;
  font-size: 30px;
  margin: 0;
}
.content {
  box-sizing: border-box;
  min-height: 100vh;
  padding-left: 20%;
  position: relative;
}
.content:after {
  display: block;
  content: "";
  clear: both;
}
h2 {
  font-size: 25px;
  margin: 0;
}
a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}
button {
  cursor: pointer;
}
.button {
  background-color: #ffffff;
  border: 2px solid #cacaca;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 104px;
  padding: 10px;
  text-align: center;
}
.left-panel {
  background: #3c4755;
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.left-panel .button1 {
  margin: 30px;
}
.left-panel .sections {
  background-color: #fafafa;
  border-radius: 3px;
  margin: 30px;
  padding-left: 0;
}
.left-panel .sections li {
  list-style-type: none;
  padding: 15px;
  text-align: center;
}
.left-panel .sections li p {
  margin-bottom: 0;
  margin-top: 5px;
}
.right {
  float: right;
  box-sizing: border-box;
  width: 100%;
}
.right .buttons .button2 {
  float: left;
  margin: 30px 100px;
  width: 190px;
}
.right .buttons .button3 {
  float: right;
  margin: 30px 100px;
  width: 190px;
}
.right .buttons:after {
  clear: both;
  content: " ";
  display: block;
}
.right h1 {
  border-bottom: 1px solid black;
  font-size: 40px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;
  width: 40%;
}
.right .profile {
  background-color: #ffffff;
  margin: 0 30px;
  padding: 30px;
}
.right .profile p {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}
.right .profile .info-block .info {
  border: 1px solid #cacaca;
  float: left;
  margin-top: 20px;
  padding: 20px 40px;
}
.right .profile .info-block .info button {
  font-size: 20px;
  margin-top: 10px;
}
.right .profile .info-block:after {
  clear: both;
  content: " ";
  display: block;
}
.right .profile table {
  border: none;
  font-size: 24px;
  margin: 20px;
}
.right .profile table td {
  padding: 10px;
}
.right .profile table td button {
  font-size: 20px;
}
.right .profile table .bad {
  color: #bb1144;
}
.right .profile .prepod {
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
}
.right .profile .prepod th,
.right .profile .prepod td {
  border: 1px solid #cacaca;
}
.right .tasks {
  padding: 30px;
}
.right .tasks .notes {
  background-color: #D6D6D6;
  font-size: 24px;
  padding: 30px;
  text-align: center;
}
.right .tasks ul {
  background-color: #ffffff;
  font-size: 24px;
  margin: 0;
  padding: 20px;
}
.right .tasks ul li {
  list-style-type: none;
  padding-bottom: 30px;
  padding-left: 50px;
}
.right .tasks ul li a {
  font-size: 24px;
}
.right .tasks ul li label,
.right .tasks ul li input {
  margin: 10px 0;
}
.right .tasks ul li p {
  background-color: #F2F2F2;
  margin: 0;
  padding: 20px;
}
.right .tasks ul .ok {
  background: url(images/ok.png) left 25px no-repeat;
}
.right .tasks ul .wrong {
  background: url(images/cross.png) left 25px no-repeat;
}
.right .tasks .statictics {
  background-color: #fbfbfb;
  font-size: 24px;
  margin-top: 50px;
  padding: 10px 30px;
}
.right .tasks .statictics a {
  display: block;
  font-size: 24px;
}
.right .theme-text {
  background-color: #ffffff;
  margin: 0 30px;
  padding: 30px;
}
.right .theme-text p {
  font-size: 24px;
}
.right .themes-ul {
  margin: 0;
  padding-top: 30px;
}
.right .themes-ul li {
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  height: 320px;
  padding: 20px;
  position: relative;
  width: 30%;
}
.right .themes-ul li h1 {
  width: 60%;
}
.right .themes-ul li p {
  font-size: 20px;
}
.right .themes-ul li:nth-child(3n+2),
.right .themes-ul li:nth-child(3n) {
  margin-left: 20px;
}
.right .themes-ul li:nth-child(n+4) {
  margin-top: 20px;
}
.right .themes-ul li .btn {
  background-color: #eaeaea;
  display: block;
  left: 20px;
  position: absolute;
  text-align: center;
  width: 83%;
}
.right .themes-ul li .btn:hover {
  cursor: pointer;
}
.right .themes-ul li .to-theme {
  bottom: 60px;
}
.right .themes-ul li .to-solve {
  bottom: 20px;
}
