*{
  font-family: 'EB Garamond', serif;
}
body {
  margin: 0;
}
.roll {
  background-color: #eeeeee;
  margin: 0 auto;
  width: 1080px;
}
header {
  background: #2b333d;
  box-sizing: border-box;
  color: #c5d0de;
  height: 180px;
  padding: 30px;
  form {
    float: right;
    margin-right: 40px;
    margin-top: -25px;
    width: 200px;
    input {
      font-size: 20px;
      width: 80%;
    }
    input[type="submit"] {
      margin-top: 10px;
      width: 40%;
    }
    label {
      font-size: 20px;
    }
  }
  .links {
    float: right;
    a {
      color: #c5d0de;
      cursor: pointer;
      display: block;
      font-size: 24px;
      margin-right: 70px;
      margin-bottom: 10px;
      text-decoration: none;
    }
  }
  p {
    float: left;
    font-size: 30px;
    margin: 0;
  }
}
.content {
  box-sizing: border-box;
  min-height: 100vh;
  padding-left: 20%;
  position: relative;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
h2 {
  font-size: 25px;
  margin: 0;
}
a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}
button {
  cursor: pointer;
}
.button {
  background-color: #ffffff;
  border: 2px solid #cacaca;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 104px;
  padding: 10px;
  text-align: center;
}
.left-panel {
  background: #3c4755;
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  .button1 {
    margin: 30px;
  }
  .sections {
    background-color: #fafafa;
    border-radius: 3px;
    margin: 30px;
    padding-left: 0;
    li {
      list-style-type: none;
      padding: 15px;
      text-align: center;
      p {
        margin-bottom: 0;
        margin-top: 5px;
      }
    }
  }
}
.right {
  float: right;
  box-sizing: border-box;
  width: 100%;
  .buttons {
    .button2 {
      float: left;
      margin: 30px 100px;
      width: 190px;
    }
    .button3 {
      float: right;
      margin: 30px 100px;
      width: 190px;
    }
    &:after {
      clear: both;
      content: " ";
      display: block;
    }
  }
  h1 {
    border-bottom: 1px solid black;
    font-size: 40px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    text-align: center;
    width: 40%;
  }
  .profile {
    background-color: #ffffff;
    margin: 0 30px;
    padding: 30px;
    p {
      font-size: 24px;
      line-height: 30px;
      margin: 0;
    }
    .info-block {
      .info {
        border: 1px solid #cacaca;
        float: left;
        margin-top: 20px;
        padding: 20px 40px;
        button {
          font-size: 20px;
          margin-top: 10px;
        }
      }
      &:after {
        clear: both;
        content: " ";
        display: block;
      }
    }
    table {
      border: none;
      font-size: 24px;
      margin: 20px;
      td {
        padding: 10px;
        button {
          font-size: 20px;
        }
      }
      .bad {
        color: #bb1144;
      }
    }
    .prepod {
      border-collapse: collapse;
      border-spacing: 0;
      width: 95%;
      th,
      td {
        border: 1px solid #cacaca;
      }
    }
  }
  .tasks {
    padding: 30px;
    .notes {
      background-color: #D6D6D6;
      font-size: 24px;
      padding: 30px;
      text-align: center;
    }
    ul {
      background-color: #ffffff;
      font-size: 24px;
      margin: 0;
      padding: 20px;
      li {
        list-style-type: none;
        padding-bottom: 30px;
        padding-left: 50px;
        a {
          font-size: 24px;
        }
        label,
        input {
          margin: 10px 0;
        }
        p {
          background-color: #F2F2F2;
          margin: 0;
          padding: 20px;
        }
      }
      .ok {
        background: url(images/ok.png) left 25px no-repeat;
      }
      .wrong {
        background: url(images/cross.png) left 25px no-repeat;
      }
    }
    .statictics {
      background-color: #fbfbfb;
      font-size: 24px;
      margin-top: 50px;
      padding: 10px 30px;
      a {
        display: block;
        font-size: 24px;
      }
    }
  }
  .theme-text {
    background-color: #ffffff;
    margin: 0 30px;
    padding: 30px;
    p {
      font-size: 24px;
    }
  }
  .themes-ul {
    margin: 0;
    padding-top: 30px;
    li {
      background-color: #ffffff;
      box-sizing: border-box;
      display: inline-block;
      height: 320px;
      padding: 20px;
      position: relative;
      width: 30%;
      h1 {
        width: 60%;
      }
      p {
        font-size: 20px;
      }
      &:nth-child(3n+2),&:nth-child(3n){
        margin-left: 20px;
      }
      &:nth-child(n+4) {
        margin-top: 20px;
      }
      .btn {
        background-color: #eaeaea;
        display: block;
        left: 20px;
        position: absolute;
        text-align: center;
        width: 83%;
        &:hover {
          cursor: pointer;
        }
      }
      .to-theme {
        bottom: 60px;
      }
      .to-solve {
        bottom: 20px;
      }
    }
  }
}